.footer
{
    background-color: $color-primary;
    padding-left: 17px;
    height: 120px;
}

.footer__heading
{
    font-size: large;
    padding-top: 17px;
}

.footer__container
{
    line-height: 12px;
    font-weight: bold;
}