.footer
{
    background-color: $color-primary;
    padding-left: 17px;
    height: 120px;

    &__heading
    {
        font-size: large;
        padding-top: 17px;
    }

    &__container
    {
        line-height: 12px;
        font-weight: bold;
    }
}