body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  margin: 0px;
  max-width: 1600px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, .confirm {
  font-family: "Shrikhand", cursive;
}

.item__btn, .form__btn, .clear-btn, .deleteLine-btn, .confirm__btn {
  background: linear-gradient(350deg, #d28040, #925cf7);
  border-radius: 25px;
  border: #f3e9f1;
  padding: 10px 25px;
  box-shadow: 6px 6px 5px lightgray;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  align-self: center;
  margin: 20px 0px;
  color: #fff;
}
.item__btn:hover::after, .form__btn:hover::after, .clear-btn:hover::after, .deleteLine-btn:hover::after, .confirm__btn:hover::after {
  opacity: 1;
}
.item__btn::after, .form__btn::after, .clear-btn::after, .deleteLine-btn::after, .confirm__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(350deg, #d78e55, #a274f8);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
  box-shadow: 6px 6px 5px gray;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e9f1;
  font-weight: bold;
  padding: 0px 20px;
}
.header__img {
  text-align: center;
  width: 180px;
}
@media screen and (min-width: 730px) {
  .header__img {
    width: 230px;
  }
}
.header__nav-menu--home {
  margin: 15px;
}

.form {
  width: 95%;
  height: auto;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 20px;
}
.form__info {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
@media screen and (min-width: 730px) {
  .form__info {
    width: 17%;
    margin: 10px;
  }
}
.form__input {
  height: 25px;
}

.footer {
  background-color: #f3e9f1;
  padding-left: 17px;
  height: 120px;
}

.footer__heading {
  font-size: large;
  padding-top: 17px;
}

.footer__container {
  line-height: 12px;
  font-weight: bold;
}

.list-item {
  padding: 0px 17px 15px 17px;
}
@media screen and (min-width: 730px) {
  .list-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.all-item {
  display: flex;
  flex-direction: column;
  background-color: #f3e9f1;
  margin: 30px 25px;
  border-radius: 25px;
  box-shadow: 6px 6px 5px lightgray;
}
@media screen and (min-width: 730px) {
  .all-item {
    width: 325px;
    height: 500px;
  }
}
@media screen and (min-width: 1050px) {
  .all-item {
    width: 23%;
  }
}
.all-item__image {
  width: 100%;
  height: 300px;
  border-radius: 25px;
}
.all-item__legend {
  margin: -2px 0px 5px 13px;
  padding: 0px 10px;
}
.all-item__heading {
  font-size: 15px;
}
.all-item__price {
  padding-right: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #f3e9f1;
  margin: 30px 25px;
  border-radius: 25px;
  box-shadow: 6px 6px 5px lightgray;
}
@media screen and (min-width: 730px) {
  .item {
    width: 95%;
    height: 450px;
    display: flex;
    flex-direction: row;
  }
}
.item__img {
  width: 100%;
  border-radius: 25px;
}
@media screen and (min-width: 730px) {
  .item__img {
    width: 400px;
    border-radius: 25px;
    margin: 15px;
  }
}
.item__legend {
  margin: -2px 0px 5px 13px;
}
.item__heading {
  font-size: 15px;
}
.item__price {
  padding-right: 25px;
}

.item-info {
  margin: 12px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 730px) {
  .item-info {
    justify-content: space-around;
    margin: 0px 15px;
  }
}

.table-basket {
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
  background-color: #f3e9f1;
}
.table__heading {
  background-color: #f3e9f1;
  font-weight: bold;
  height: 30px;
  padding-top: 10px;
}
.table__case {
  font-size: smaller;
  width: 13%;
}
.table__case--modif {
  width: 25%;
}

.bold {
  font-weight: bold;
}

.white {
  background-color: #FFFFFF;
}

.quantity-fields {
  width: 40px;
  -moz-appearance: textfield;
  text-align: center;
}

.confirm {
  background-color: #f3e9f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 44px;
  height: auto;
  font-size: larger;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
