.confirm
{
    background-color: $color-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    font-size: larger;
    padding: 10px;
    height: 414px;

    @include media-tablette
    {
        height: 396px;
    }
}