.confirm
{
    background-color: $color-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 44px;
    height: auto;
    font-size: larger;
    padding: 10px;
}