.table-basket
{
    display: flex;
    flex-direction: column;
}

.table
{
    width: 100%;
    height: 200px;
    margin: -20px 0px 20px 0px;
    text-align: center;
    border-collapse: collapse;
    background-color: $color-primary;

    &__heading
        {
            background-color: $color-primary;
            padding: 15px 0px;
            text-align: center;
        }

    &__case
    {
        font-size: smaller;
        width: 13%;
    }   

    &__case--modif
    {
        width: 25%;
    }
    
}

.bold
{
    font-weight: bold;
}

.white
{
    background-color: #FFFFFF;
}

.quantity-fields{
    width: 40px;
    -moz-appearance: textfield;
    text-align: center;
}