body
{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0px;
    max-width: 1600px;
    margin: auto;
}

a
{
    text-decoration: none;
    color: #000;
}

h1 , h2, .confirm
{
    font-family: 'Shrikhand', cursive;
    text-align: center;
}